*
{
	font-family: times new roman;
	font-size: 22px;
}
.container, .content
{
text-align: center;
}
/*#slovo*/
{
color: blue;
}
li+p
{
	color: green;
}
#blue
{
	color: red;
}
p+a {
	color: red;
	position: relative;
	left: 20px;
	margin-top: 30px;
}
h1~p {
	color: green;
	position: relative;
	left: 20px;
	margin-top: 30px;
}
	